body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 300px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.dark {
    background-color: #1e1e1e;
    color: white;
}

.dark li {
    background: #333;
}

li {
    background: white;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
    cursor: grab;
}
